@SiteView.Professors.profChecker()

@{
    if (Session["book-add"] != null && Session["book-add"].ToString() == "True")
    {
        <script type="text/javascript">
             window.onload = function () {
                 swal("Successfully Added A New Book!");
                 Session["book-add"] = null;
             };
        </script>
    }
    if (Session["book-edit"] != null && Session["book-edit"].ToString() == "True")
    {
        <script type="text/javascript">
             window.onload = function () {
                 swal("Successfully Updated!!");
                 Session["book-edit"] = null;
             };
        </script>
    }
}


<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ELRN | BOOK</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/bower_components/Ionicons/css/ionicons.min.css">


    <!-- Theme style -->
    <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/dist/css/skins/skin-blue.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">



</head>

<body class="hold-transition skin-blue sidebar-mini">
    <!--
    BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    | SKINS         | skin-blue                               |
    |               | skin-black                              |
    |               | skin-purple                             |
    |               | skin-yellow                             |
    |               | skin-red                                |
    |               | skin-green                              |
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|
    -->
    <div class="wrapper">


        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="P_index.php" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>ELRN</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>E LEARNING</b></span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" style="display:none;" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->

                        <a href="#" class="btn  btn-flat" style="background-color: #3c8dbc;color:white;padding:14px;">ZAPLAN</a>
                        <a href="#" class="btn  btn-flat" style="background-color: #3c8dbc;color:white;padding:14px;">Sign out</a>

                        <!-- Control Sidebar Toggle Button -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">



                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">DASHBOARD</li>
                    <!-- Optionally, you can add icons to the links -->

                    <li class="active"><a href="?x=BOOK"><i class="fa fa-book"></i> <span>BOOK</span></a></li>


                    <li><a href="#"><i class="fa fa-exclamation-circle"></i> <span>NOTIFICATION</span></a></li>

                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content container-fluid">


                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <link rel="stylesheet" href="content/cd.css">
                <link rel="stylesheet" href="sm/dist/sweetalert.css">
                <script src="sm/dist/sweetalert.min.js"></script>

                <link rel="stylesheet" href="content/color.css">
                <link rel="stylesheet" href="AdminLTE/AdminLTE-2.4.0-rc/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">



                <style>
                    label > input { /* HIDE RADIO */
                        visibility: hidden; /* Makes input not-clickable */
                        position: absolute; /* Remove input from document flow */
                    }

                        label > input + img { /* IMAGE STYLES */
                            cursor: pointer;
                            border: 2px solid transparent;
                        }

                        label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
                            border: 5px solid black;
                        }
                </style>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>










                <div class="row">
                    <div class="col-md-6">
                        <center><button style="width: 100%;" id="addbook" class="btn btn-primary">ADD BOOK <i class="fa fa-plus"></i></button></center>
                    </div>
                    <div class="col-md-6">
                        <center><button style="width: 100%;" id="share" class="btn btn-primary">SHARE ACCESS TO PROFFESOR <i class="fa fa-link"></i></button></center>
                    </div>
                </div>


                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                <div id="panel" style="display: none;">




                    <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="box box-primary">

                                <!-- /.box-header -->
                                <!-- form start -->
                                <form role="form" method="post" action="~/Professors/Backend/insert-book.cshtml" enctype="multipart/form-data">
                                    <div class="box-body">


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Book Name</label>
                                                    <input name ="bookName" type="text" class="form-control" placeholder="Enter Book Name" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Authors Name</label>
                                                    <input name="authorsName" type="text" class="form-control" placeholder="Enter Authors Name" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputFile">File input</label>
                                                    <input accept="image/*" name="payl" type="file" id="exampleInputFile" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="exampleInputFile">Color Theme</label>
                                                <center>
                                                    <label>
                                                        <input type="radio" name="color" value="#d32f2f" required />
                                                        <img style="background-color:#d32f2f; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#c2185b" required />
                                                        <img style="background-color:#c2185b; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#7b1fa2" required />
                                                        <img style="background-color:#7b1fa2; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#512da8" required />
                                                        <img style="background-color:#512da8; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#303f9f" required />
                                                        <img style="background-color:#303f9f; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#1976d2" required />
                                                        <img style="background-color:#1976d2; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#0288d1" required />
                                                        <img style="background-color:#0288d1; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#0097a7" required />
                                                        <img style="background-color:#0097a7; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#388e3c" required />
                                                        <img style="background-color:#388e3c; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#689f38" required />
                                                        <img style="background-color:#689f38; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#afb42b" required />
                                                        <img style="background-color:#afb42b; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#fbc02d" required />
                                                        <img style="background-color:#fbc02d; width:50px;height: 50px; ">
                                                    </label>

                                                    <label>
                                                        <input type="radio" name="color" value="#ffa000" required />
                                                        <img style="background-color:#ffa000; width:50px;height: 50px; ">
                                                    </label>


                                                    <label>
                                                        <input type="radio" name="color" value="#f57c00" required />
                                                        <img style="background-color:#f57c00; width:50px;height: 50px; ">
                                                    </label>


                                                    <label>
                                                        <input type="radio" name="color" value="#e64a19" required />
                                                        <img style="background-color:#e64a19; width:50px;height: 50px; ">
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="color" value="#5d4037" required />
                                                        <img style="background-color:#5d4037; width:50px;height: 50px; ">
                                                    </label>
                                                    <label>
                                                        <input type="radio" name="color" value="#616161" required />
                                                        <img style="background-color:#616161; width:50px;height: 50px; ">
                                                    </label>




                                                </center>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" style="float:right;" class="btn btn-success">SAVE</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div> <!-- panel end -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <br>

                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                <div id="panel2" style="display: none;">

                    <br>
                    <div class="box box-primary">

                        <div class="row">
                            <div class="col-md-12">
                                <form role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Share Access to Proffessor</label>
                                            <select class="form-control" name="Proffessor">
                                                <option>option 1</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Book</label>
                                            <select class="form-control" name="Book">
                                                <option>option 1</option>
                                                <option>option 2</option>
                                                <option>option 3</option>
                                                <option>option 4</option>
                                                <option>option 5</option>
                                            </select>
                                        </div>

                                        <br>
                                        <button type="submit" style="float:right;" class="btn btn-success">SAVE</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div><!--  panel2 end -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <form method="POST" action="~/Professors/Backend/search-book.cshtml">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Search Book</h3>
                        </div>
                     
                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Book Name</label>
                                        <input type="text" name="BKNAME" class="form-control" placeholder="Enter Book Name">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Authors Name</label>
                                        <input type="text" name="AUNAME" class="form-control" placeholder="Enter Authors Name">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">&nbsp;</label>
                                        <center> <button type="submit" class="btn btn-info" style="width: 100%;">SEARCH</button></center>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </form>
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                @{
                    RTUDB a = new RTUDB();
                    var dT = a.Select("SELECT * from book_tbl where isDeleted = 0");
                    if (dT.Rows.Count > 0)
                    {
                        for (int x = 0; x < dT.Rows.Count; x++)
                        {
                            string bookID = @dT.Rows[x][0].ToString();
                            string color = dT.Rows[x][4].ToString();
                            string title = dT.Rows[x][1].ToString();
                            string author = dT.Rows[x][2].ToString();
                            string bookImage = dT.Rows[x][3].ToString();
                            string aydii = "#pogi" + x.ToString();
                            string aydii2 = "pogi" + x.ToString();

                            string aydii3 = "#gwapo" + x.ToString();
                            string aydii4 = "gwapo" + x.ToString();


                            <div class="col-md-4" style="padding: 40px 0px;">
                                <div class="clash-card ">
                                    <div class='clash-card__image clash-card__image ' style="background-color: @color;">
                                        <img src='@bookImage' />
                                    </div>
                                    <div class="clash-card__unit-name"><p>@title</p><p style="font-size: 0.4em;">@author</p></div>
                                    <div class="clash-card__unit-stats clearfix " style="background-color: @color;">
                                        <a style="padding:0px;" name="view" value="View" href="?x=CHAPTER">
                                            <div class="one-third">
                                                <div class="stat">
                                                    <i class="fa fa-eye" aria-hidden="true" style="color:white;"></i>
                                                </div>
                                                <div class="stat-value" style="color:white;">CHAPTER</div>
                                            </div>
                                        </a>
                                        <a style="padding:0px;" name="view" value="View" href="" data-toggle="modal" data-target="@aydii">
                                            <div class="one-third">
                                                <div class="stat">
                                                    <i class="fa fa-edit" aria-hidden="true" style="color:white;"></i>
                                                </div>
                                                <div class="stat-value" style="color:white;">EDIT</div>
                                            </div>
                                        </a>
                                        <a style="padding:0px;" name="view" value="View" href="" data-toggle="modal" data-target="@aydii3">
                                            <div class="one-third no-border">
                                                <div class="stat">
                                                    <i class="fa fa-ban" aria-hidden="true" style="color:white;"></i>
                                                </div>
                                                <div class="stat-value" style="color:white;">DELETE</div>
                                            </div>
                                        </a>
                                    </div>
                                </div> <!-- end clash-card -->
                            </div>



                            <div class="modal modal-primary fade" id="@aydii2">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title">EDIT BOOK</h4>
                                        </div>
                                        <form method="post" action="~/Professors/Backend/edit-book.cshtml" enctype="multipart/form-data">
                                            <div class="modal-body">





                                                <!-- /.box-header -->
                                                <!-- form start -->



                                                <div class="box box-primary" style="padding: 10px;">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span style="color: black;">Books Name</span>
                                                                <input type="text" name="eTitle" value="@title" class="form-control" placeholder="Enter Book Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span style="color: black;">Authors Name</span>
                                                                <input type="text" name="eAuthor" value="@author" class="form-control" placeholder="Enter Authors Name">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <span style="color: black;">File Input</span>
                                                                <input name="payl2" type="file" id="exampleInputFile">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span style="color: black;">Color Theme</span>
                                                            <center>
                                                                <label>
                                                                    <input type="radio" name="color" value="#d32f2f" />
                                                                    <img style="background-color:#d32f2f; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#c2185b" />
                                                                    <img style="background-color:#c2185b; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#7b1fa2" />
                                                                    <img style="background-color:#7b1fa2; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#512da8" />
                                                                    <img style="background-color:#512da8; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#303f9f" />
                                                                    <img style="background-color:#303f9f; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#1976d2" />
                                                                    <img style="background-color:#1976d2; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#0288d1" />
                                                                    <img style="background-color:#0288d1; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#0097a7" />
                                                                    <img style="background-color:#0097a7; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#388e3c" />
                                                                    <img style="background-color:#388e3c; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#689f38" />
                                                                    <img style="background-color:#689f38; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#afb42b" />
                                                                    <img style="background-color:#afb42b; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#fbc02d" />
                                                                    <img style="background-color:#fbc02d; width:50px;height: 50px; ">
                                                                </label>

                                                                <label>
                                                                    <input type="radio" name="color" value="#ffa000" />
                                                                    <img style="background-color:#ffa000; width:50px;height: 50px; ">
                                                                </label>


                                                                <label>
                                                                    <input type="radio" name="color" value="#f57c00" />
                                                                    <img style="background-color:#f57c00; width:50px;height: 50px; ">
                                                                </label>


                                                                <label>
                                                                    <input type="radio" name="color" value="#e64a19" />
                                                                    <img style="background-color:#e64a19; width:50px;height: 50px; ">
                                                                </label>
                                                                <label>
                                                                    <input type="radio" name="color" value="#5d4037" />
                                                                    <img style="background-color:#5d4037; width:50px;height: 50px; ">
                                                                </label>
                                                                <label>
                                                                    <input type="radio" name="color" value="#616161" />
                                                                    <img style="background-color:#616161; width:50px;height: 50px; ">
                                                                </label>




                                                            </center>
                                                        </div>
                                                    </div>

                                                </div>
                                                <input type="hidden" name="bkID" value="@bookID"/>

                                            </div><!--  body modal -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                                <button type="submit" name="deletee" class="btn btn-outline">Save changes</button>
                                            </div>

                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>







                            <div class="modal modal-danger fade" id="@aydii4">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title">DELETE BOOK</h4>
                                        </div>
                                        <form method="POST" action="~/Professors/Backend/delete-book.cshtml">
                                        <div class="modal-body">
                                            <input type="hidden" name="bkID" value="@bookID" />
                                            <p>ARE YOU SURE YOU WANT TO DELETE " @title " ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-outline">Save changes</button>
                                        </div>
                                        </form>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        }
                    }
                }




                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   ////////////////////////////////modal edit/////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

 
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
 
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!-- REQUIRED JS SCRIPTS -->
                <!-- jQuery 3 -->
                <script src="AdminLTE/AdminLTE-2.4.0-rc/bower_components/jquery/dist/jquery.min.js"></script>
                <!-- Bootstrap 3.3.7 -->
                <script src="AdminLTE/AdminLTE-2.4.0-rc/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
                <!-- AdminLTE App -->
                <script src="AdminLTE/AdminLTE-2.4.0-rc/dist/js/adminlte.min.js"></script>

                <!-- Optionally, you can add Slimscroll and FastClick plugins.
                     Both of these plugins are recommended to enhance the
                     user experience. -->



                <script type="text/javascript">
        $("#addbook").click(function(){
        $("#panel").slideToggle("slow");
          });
        $("#share").click(function(){
        $("#panel2").slideToggle("slow");
          });


                </script>




                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <!--   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->






            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->

</body>
</html>